<!doctype html>
<html>

<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <!-- <link href="./roboto.css" rel="stylesheet"> -->
  <!-- <link href="./vuetify.min.css" rel="stylesheet"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

    }

    .flex_container {
      display: flex;
      flex-direction: row;
      height: 100vh;

    }

    .flex_drawer {
      flex: 0 0 30vw;

    }

    .flex_drawer_row {
      flex: 1 1 0;
    }

    .flex_body {
      flex: 0 0 70vw;
      background-color: green
    }
  </style>

</head>

<body>
  <div id="app">
    <div class="flex_container">
      <div class="flex_drawer">
        <div class="flex_container">
          <div class="flex_drawer_row">
            <div>
              Scenes
            </div>
            <div>
              <button @click="get()">Get</button>
            </div>
            <div>
              <button @click="save()">Save</button>
            </div>
            <div v-if="setup">
              <div v-for="scene in scenes" :key="scene.name">
                <button @click="selectScene(scene)">{{scene.name}}</button>
              </div>
            </div>
            <div>
              <a href="#" @click="addNewScene()">[Add Scene...]</a>
            </div>
          </div>
          <div class="flex_drawer_row">
            Game Objects
            <div>
              <div v-if="scene == null">
                Choose a Scene to see its contents
              </div>
              <div v-else>
                <div>
                  {{scene.name}}
                </div>
                <div v-for="object in scene.children">
                  <button @click="selectObject(object)">{{object.name}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class="flex_drawer_row">
            <div>
              Components
            </div>
            <div v-if="gameObject==null">
              Select a GameObject to see its components
            </div>
            <div v-else>

              <div><span width="50%">Name:</span><span width="50%"> <input type="text" v-model='gameObject.name'></span>
              </div>
              <div>{{gameObject.constructor.name}}</div>
              <div>X: <input type="text" v-model='gameObject.x'></div>
              <div>Y: <input type="text" v-model='gameObject.y'></div>
              <div>Scale X: <input type="text" v-model='gameObject.scaleX'></div>
              <div>Scale Y: <input type="text" v-model='gameObject.scaleY'></div>
              <div>Rotation: <input type="text" v-model='gameObject.rotation'></div>
              <div v-for="(component,index) in gameObject.components" :key="index">
                <div>{{component.constructor.name}}</div>
                <div v-for="(value,index) in Object.keys(component)" :key="index">
                  <div v-if="value!='gameObject'">
                    <div>
                      <span>{{value}}:</span><span> <input type="text" v-model="component[value]"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div v-for="(componentValue,index) in gameObject.componentValues" :key="index">
                  <div>{{componentValue.type}}</div>
                  <div v-for="(value,index) in componentValue.values" :key="index">
                    <div>Key: {{value.key}}</div>
                    <div>Value: {{value.value}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="flex_body" id="canvas_parent">

        <canvas id="canv" width="70vw" height="100vh"></canvas>
      </div>
    </div>
  </div>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://unpkg.com/vue'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ed-ge/ed-ge@7ae12bd5aa3b9a936ec64b4aba22a6cb4e2bd107/free/Base.js"></script>


  <script src="${webview.cspSource}" type="module"></script>
 

</body>

</html>